# pip install git+https://github.com/lhotse-speech/lhotse
# wget https://huggingface.co/zzasdf/viet_iter3_pseudo_label/resolve/main/exp/pretrained.pt
# https://k2-fsa.github.io/k2/cuda.html

# !pip install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124
# !wget https://huggingface.co/csukuangfj/k2/resolve/main/ubuntu-cuda/k2-1.24.4.dev20250715+cuda12.4.torch2.6.0-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
# !pip install ./k2-1.24.4.dev20250715+cuda12.4.torch2.6.0-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl 
# !pip install git+https://github.com/lhotse-speech/lhotse
# !pip install kaldifst kaldilm kaldialign sentencepiece tensorboard
# !pip install jiwer==3.0.3
torch==2.8.0
kaldifst 
kaldilm 
kaldialign 
sentencepiece 
tensorboard
jiwer==3.0.3